<launch>
  <arg name="paused" default="true" />
  <param name="robot_description" textfile="$(find rodney)/urdf/rodney.urdf" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
  </include>
 
  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model rodney -z 0.087"/>
</launch>
